<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.manage.mapper.ItemMapper">
	
	<!-- 表名字尽量小写（或者是和数据库大小写保持一致），因为linux系统严格区分大小写 -->
	<select id="findAll" resultType="com.jt.manage.pojo.Item">
		select * from tb_item order by updated desc
	</select>
	
	<select id="findTotalNum" resultType="int">
		select count(*) from tb_item where 1=1
	</select>
	
	<select id="findItemByPage" parameterType="map" resultType="com.jt.manage.pojo.Item">
		select * from tb_item order by updated desc limit #{begin},#{pageSize}
	</select>
	
	<update id="updataItemStatus">
		update tb_item set status = #{status}
		where id in (<foreach collection="ids" item="id" separator=","> #{id}</foreach>)
	</update>
	
	
	
</mapper>